.cell {
    padding:20px;
    text-align: justify;
    background: #002969;
}

.cell:hover {
    background: #001959;
}

.cell div {
    text-align: center;
}

img {
    width:100%;
    max-height:600px;
}