$width : 500px;
$height : 400px;

#map-container {
    height: $height; 
    width: $width;
    margin: 10px auto;
}

.bottom {
    vertical-align: bottom;
}

:host {
    text-align: center;
}

.large {
    font-size: x-large;
    font-weight: 900;
}

.icon-bg {
    font-size: 30px;
}
span.large {
    margin-left: 20px;
}

.left-aligned {
    text-align: left;
}
