.text-righted {
    text-align: right;
}

.text-lefted {
    text-align: left;
}

div.pure-g {
    margin-top : 10px;
}

.vertical-align {
    vertical-align: -webkit-baseline-middle;
    vertical-align: moz-webkit-baseline-middle;
}

.emphasize {
    font-weight: 900;
    font-size: large;
}