<img [src]="backgroundUrl"/>

<div class="pure-g">
    <div class="pure-u-5-24"></div>
    <div class="motto-container">
        <h1 class="motto-lg">
            Комплексные решение для АЗС и нефтебаз
        </h1>

        <h2 class="motto-sm rest-width">
            Свяжитесь с нами сейчас для того, чтобы начать строительство как можно быстрей
        </h2>
        
        <div class="button-container">
                <custom-button [txt]="knowMore"></custom-button>
                <custom-button [txt]="callUs"></custom-button>
        </div>
</div>
