$bgcolor: rgb(3, 33, 90);

.footer {
    background: $bgcolor;
    // position: fixed;
    // bottom: 0;
    width: 100%;
}

.l-box {
    padding: 1em;
}

.righted {
    text-align: right;
}

.padded {
    padding-right: 20px;
}