.container {
    background: #052d6e;
    padding-top:100px;
    position:relative;
    margin:0 auto;
    padding:0 calc(50%-400px);
}
h2 {
    text-align: center;
}
.centered {
    text-align: center;
}

.lower-btn {
    padding-top: 40px;
    padding-bottom: 40px;
}

.par {
    width:800px;
    text-align: justify;
}

.img-container {
    text-align: center;
    
}
.img-container img {
    width:400px;
}