<div class="info-block full-width">
    <p class="centered bold padded margined h">Деятельность</p>
    <div class="pure-g">

        <div class="pure-u-12-24" *ngFor="let activity of activities">
            <div class="pure-u-6-24"></div>
            <div class="pure-u-12-24">
                <div class="activity-content">
                    <img class="centered-img" src="/assets/u59.png">
                    <p class="centered sub-h">{{activity.name}}</p>
                    <ul>
                        <li *ngFor="let item of activity.list">{{item}}</li> 
                    </ul>
                </div>
            </div>
            <div class="pure-u-6-24"></div>
        </div>
        

        <!-- <div class="pure-u-4-24"></div>


        <div class="pure-u-6-24">
            <img class="centered-img" src="/assets/u59.png">
            <p class="centered sub-h">Обслуживание АЗС и нефтебаз</p>
            <ul>
                <li>Проведение работ повышенной опасности</li> 
                <li>Изготовление технологического оборудование</li> 
                <li>Проведение электротехнического измерения</li> 
                <li>Подбор земельных участков для строительства АЗС и нефтебаз</li> 
             </ul>
        </div> -->

        <!-- <div class="pure-u-4-24"></div> -->
    </div>
</div>