$bgcolor : rgba(5, 45, 110, 1);

.centered-img {
    display: block;
    margin: 0 auto;
}

.margined {
    margin-bottom: 40px;
}

.fullwidth {
    width: 100%;
}

.icon_big {
    font-size:45px;
}

.activity-content {
    margin: 0 auto;
    
    max-width: 350px;
}


.info-block {
    background-color : $bgcolor; 
    padding: 20px;
}

.centered {
    text-align: center;
}

.sub-h {
    font-size: 1.5em;
}

.h {
    font-size: 2em;
}

.bold {
    font-weight: 900;
}

ul {
    list-style-type: disc;
}

li {
    padding: 15px 0px 0px 5px;
}