.h {
    font-size: large;
    font-weight: 900;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 40px;
}

div {
    padding: 50px;
    text-align: center;
    margin-bottom:150px;
}